* {
  color: whitesmoke;
  text-align: center;
}
.practicas {
  width: 100%;
  text-align: center;
  border: 10px solid whitesmoke;
  border-radius: 30px;
  background-color: #002f54;
}
.tareas {
  width: 100%;
  text-align: center;
  border: 10px solid whitesmoke;
  border-radius: 30px;
  margin: 20px;
  background-color: #1e144e;
}
.parcialUno {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  background-color: #f31f1f;
}
.parcialDos {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  background-color: #ff732c;
}
.parcialTres {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  background-color: #2c79ff;
}
body {
  background-color: #f5eedb;
}
main {
  display: grid;
  justify-items: center;
}
h1 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: #002f54;
}
h2 {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-style: italic;
  background-color: #32446a;
  border-radius: 30px;
}
section {
  display: flex;
  width: 100%;
  background-color: #275b7b;
}
