* {
  background-color: rgb(6, 15, 42);
  color: aliceblue;
  text-align: center;
}
h2 {
  font-size: 20px;
}
img {
  padding: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.tabla td {
  width: 30%;
}
h4 {
  color: yellow;
}
.tabla td h2 {
  color: yellow;
}
h1 {
  font-size: 40px;
  color: yellow;
}
marquee {
  color: rgb(11, 9, 47);
  background-color: azure;
  font-size: 30px;
  font-weight: bolder;
}
main {
  display: grid;
  justify-content: center;
}
footer {
  margin-top: 150px;
}
section {
  text-align: center;
}
