* {
  background-color: rgb(28, 28, 60);
  text-align: center;
  justify-self: center;
  display: grid;
}
main {
  text-align: center;
}
h1 {
  font-family: sans-serif;
  font-size: 70px;
  color: burlywood;
  word-spacing: 20px;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: underline overline burlywood;
}
.primero {
  width: 800px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  font-style: italic;
  color: aqua;
  text-decoration: underline dotted aqua;
}
.segundo {
  width: 880px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: rgb(87, 255, 87);
  font-weight: bolder;
  word-spacing: 20px;
  letter-spacing: 20px;
  text-transform: capitalize;
}
.tercero {
  width: 700px;
  color: tomato;
  font-size: xx-large;
  font-family: cursive;
  font-style: italic;
  text-shadow: 30px;
  text-decoration: underline overline #ff3028;
}
img {
  width: 600px;
  margin: 20px;
  border-radius: 20px;
}
.cuarto {
  width: 600px;
  border-radius: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(
    180deg,
    rgb(209, 217, 121) 0%,
    rgb(66, 9, 10) 100%
  );
  color: rgb(253, 255, 234);

  font-size: 40px;
  font-style: italic;
  word-spacing: 20px;
  text-transform: uppercase;
}
