* {
  background-color: cadetblue;
  text-align: center;
}
main {
  display: grid;
  justify-content: center;
  background-color: #f0f0f0;
}
div {
  margin: 20px;
  width: 700px;
  border-radius: 20px;
}
.texto-principal {
  text-align: center;
  color: aliceblue;
}
img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}
p {
  color: aliceblue;
  font-family: sans-serif;
}
h3 {
  color: aliceblue;
}
